# Configuration Supabase (récupérez ces infos de https://supabase.com)
# Exemple pour Flutter avec --dart-define
# flutter run --dart-define=SUPABASE_URL=<YOUR_URL> --dart-define=SUPABASE_ANON_KEY=<YOUR_KEY>
SUPABASE_URL=https://knzoqcvlxmgsxgooizuk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtuem9xY3ZseG1nc3hnb29penVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzNTQwNTcsImV4cCI6MjA5NTkzMDA1N30.wttuOVO3mACoWdhtbJ9pklOwn1J0EwzPVWfjMPmfYnY

